.home{
  .avatar {
    height: 256px;
    margin-bottom: 10px;
    .el-card {

    }
    .avatar-info{
      display: flex;
      justify-items: center;
      margin-bottom: 20px;
      img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 20px;
      }
      .avatar-desc{
          margin-top: 60px;
          .name{
            font-size: 25px;
          }
      }
    }
    .avatar-item-info{
      border-top:2px solid  #f5f5f5;
      .content{
        margin-top: 8px;
        margin-left: 20px;
        color: #999999;
        span{
          margin-left:35px;
        }
      }
    }

  }
  .info{
    height: 654px;
  }
  .num{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-items: center;
    .el-card{
      width:32%;
      margin-bottom:20px;
      /deep/ .el-card__body{
        display: flex;
        padding:3.5px;
      }
      p{
        margin-left: 20px;
      }
    }
    .icon{
      width: 80px;
      height: 80px;
      text-align: center;
      line-height: 80px;
      font-size: 40px;
/*      background: #33aef0;
      color:white;*/
    }
    .money{
      font-size: 20px;
      margin-top:25px;
    }
    .info-item{
      font-size: 10px;
      margin-top:5px;
      color:#666666;
    }
  }
  .polyline{
    margin-top:20px;
    .el-card{
      height: 280px;
    }
  }
  .pie{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top:20px;
    .el-card{
      width: 48%;
      height: 380px;
    }
  }
}
